html,
body {
  height: 100%;
}

select {
  height: 50px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  width: 50px;
}

.button-group {
  padding: 20px;
}

.swamp-btn {
  height: 50px;
  margin: 5px;
}

#titleh1 {
  font-size: 115px;
}
