.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  width: 30px;
  display: block;
}

.sandboxide {
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}

.lessonInfo {
  margin: 20px;
}

.inputoutput {
  border: dashed black;
  padding: 10px;
}

#lessonTitle {
  font-size: 30px;
}

#checkAnswer {
  margin: 20px;
}

#figure {
  width: 435px;
}
