.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.idemain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

textarea:focus {
  outline: none;
}

#result {
  resize: none;
  background: #878787;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  /* border: 2px solid black; */
}

#input {
  background: #878787;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  resize: none;
  overflow-y: hidden;
}

/* .ide-full {
  position: fixed;
  top: 170px;
  right: 40px;
} */

#code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  min-height: 40vh;
  min-width: 50vw;
  resize: none;
}

#result {
  min-width: 50vw;
  min-height: 5vh;
  resize: none;
}

#input {
  min-height: 5vh;
  min-width: 50vw;
  resize: none;
  overflow-y: hidden;
}

.input {
  margin: 5px;
}

.output {
  margin: 5px;
}

textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  resize: none;
  white-space: nowrap;
  overflow-x: hidden; /* or hidden */
  overflow-y: hidden; /* or hidden */
}

.ide-main {
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  background: black;
}
.ide-row {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.row-ide {
  margin: 0px;
  font-size: 18px;
  margin-left: 10px;
  width: 47vw;
  height: 100%;
  border-bottom: 3px gray solid;
}
.row-ide:focus {
  outline: none !important;
  border: 2px solid blue;
}

.line-content {
  float: right;
  margin: 0px;
  color: red;
}
.line-number {
  width: 20px;
  color: white;
}
